body {
  background-image: url("assets/images/system/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card-inside{
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(229, 231, 229, 0.37);
}
